<header class="l-header">
  <nav class="navbar">
    <h1 class="logo">
      <a class="logo-title" href="/">HugoShare</a>
      <a class="logo-subtitle" href="/">P2P file transfer</a>
    </h1>

    <ul class="nav">
      <li>
        <a href="javascript:void(0)" class="icon-create-room" {{action "redirect"}} title="Create a private room.">Room</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="icon-help" {{action "openModal" "about_app"}} title="About">?</a>
      </li>

      {{#if isAuthenticated}} <!-- If the user is logged in -->
        <li>
          <a href="/my-files" class="icon-my-files" title="Go to your files">File</a>
        </li>
        <li>
          <a href="/logout" class="icon-logout" title="Log out">Log Out</a>
        </li>
      {{else}} <!-- If the user is not logged in -->
        <li>
          <a href="/login" class="icon-your-files" title="Go to send and view your own files">Login</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>

{{outlet}}
{{outlet "modal"}}

<footer class="l-footer">
  <p class="about">{{outlet "about_you"}}</p>

  <div class="logos">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</footer>
